.DUO{
/*  background-image: url("../../images/alum.jpg");*/
  background-color: black;
  display: grid;
  height: 570px;
  width: 630px;
  border-radius: 15px;
  grid-template-areas: "l-screen r-screen"
                       "l-knob r-knob"
                        "input-output input-output"
                       "l-button r-button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}



.l-screen{
  grid-area: l-screen;
}

.r-screen{
  grid-area: r-screen;
}

.r-screen, .l-screen{
  margin-top: 60px;
}

.l-knob{
  grid-area: l-knob;
}

.r-knob{
  grid-area: r-knob;
}

.input-output{
  grid-area: input-output;
}

.l-button{
  grid-area: l-button;
}

.r-button{
  grid-area: r-button;
}

.l-screen, .l-knob{
  margin-left: 60px;
  margin-right: 15px;
}

.r-screen, .r-knob{
  margin-left: 15px;
  margin-right:60px;
}

.r-knob, .l-knob{
  display: flex;
  justify-content: center
}



.metal-handle{
   background-image: url("../../images/shinymetal.jpeg");
   width:300px;
   height: 30px;
   margin: 30px 165px 0px 165px;
   border-radius: 20%;
}
