.DUO{
/*  background-image: url("../../images/alum.jpg");*/
  background-color: black;
  display: grid;
  height: 570px;
  width: 630px;
  border-radius: 15px;
  grid-template-areas: "l-screen r-screen"
                       "l-knob r-knob"
                        "handle handle"
                       "l-button r-button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}



.l-screen{
  grid-area: l-screen;
}

.r-screen{
  grid-area: r-screen;
}

.l-knob{
  grid-area: l-knob;
}

.r-knob{
  grid-area: r-knob;
}

.handle{
  grid-area: handle;
}

.l-button{
  grid-area: l-button;
}

.r-button{
  grid-area: r-button;
}

.l-screen, .l-knob{
  margin-left: 60px;
  margin-right: 15px;
}

.r-screen, .r-knob{
  margin-left: 15px;
  margin-right:60px;
}

.r-knob, .l-knob{
  display: flex;
  justify-content: center
}
